.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 84px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-family: var(--font-h2-family);
  font-weight: var(--font-h2-weight);
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
  text-align: center;
}

.description {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  font-size: var(--font-body-size);
  line-height: var(--font-body-line-height);
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;

  button {
    flex: 1;
  }
}
