.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.item {
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: var(--input-radius);
  color: var(--text);
  font-family: var(font-body-family);
  font-weight: var(--font-body-weight);
  font-size: var(--font-body-size);
  line-height: var(--font-body-line-height);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--button-primary-background-hover);
  }
}

.linkActive {
  background-color: var(--button-primary-background-hover);

  &:hover {
    background-color: var(--button-primary-background-hover);
  }
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}