.label {
  color: var(--text);
}

.input {
  width: 100%;
  min-height: 48px;
  padding: 12px 20px;
  border: 1px solid var(--border-input);
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease;
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
  line-height: var(--font-body-line-height);
  color: var(--text);

  &::placeholder {
    color: var(--caption);
  }

  &:focus {
    border-color: var(--accent);
  }

  &:disabled {
    color: var(--disabled-text);
    cursor: not-allowed;
  }
}

.inputError,
.inputError:focus {
  border-color: var(--error);
}

.errorText {
  font-size: var(--font-caption-size);
  line-height: var(--font-caption-line-height);
  color: var(--error);
}

.hintText {
  font-size: var(--font-caption-size);
  line-height: var(--font-caption-line-height);
  color: var(--text);
}

.inputContainer {
  position: relative;
}

.withIconLeft {
  padding-left: 52px;
}

.withIconRight {
  padding-right: 52px;
}

.iconRight,
.iconLeft {
  position: absolute;
  top: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.iconLeft {
  left: 16px;
}

.iconRight {
  right: 16px;
}
