:root {
  /*  ТЕКСТ  */
  --text: #253017; /* основной цвет текста */
  --caption: #69735d; /* второстепенный текст (подписи, описание) */
  --disabled-text: #9ca197; /* неактивный / отключённый текст */

  /* UI ЭЛЕМЕНТЫ */
  --toggle: #b2b9a9; /* цвет переключателей (switch, checkbox) */
  --disabled: #e4e8df; /* фон или границы отключённых элементов */
  --card-input: #ffffff; /* фон карточек и полей ввода */

  --logo-text-color: var(--text);

  /* ИНТЕРАКЦИИ */
  --text-link: #508826; /* цвет ссылок */
  --button-pressed: #508826; /* состояние нажатой кнопки */
  --accent: #abd27a; /* основной акцентный цвет (кнопки, выделения) */
  --button-hover: #deebc5; /* hover-состояние кнопок */

  /*  ФОН  */
  --background: #f9faf7; /* основной фон страницы */

  /* СОСТОЯНИЯ (ОШИБКИ / ПРЕДУПРЕЖДЕНИЯ)  */
  --alarm: #e0796e; /* предупреждение (warning) */
  --error: #bf3920; /* ошибка (error) */

  /* ТЕГИ / КАТЕГОРИИ */
  --tag-business-career: #eee7f7; /* бизнес и карьера */
  --tag-creativity-art: #f7e7f2; /* творчество и искусство */
  --tag-foreign-languages: #ebe5c5; /* иностранные языки */
  --tag-education-development: #e7f2f6; /* образование и развитие */
  --tag-home-comfort: #f7ebe5; /* дом и уют */
  --tag-health-lifestyle: #e9f7e7; /* здоровье и лайфстайл */
  --tag-plus: #e8ecf7; /* дополнительная категория / "прочее" */

  /* ФОРМЫ */
  --border-input: #69735d; /* граница инпутов */
  --border-radio-checkbox: #000; /* граница radio/checkbox */
  --input-radius: 12px; /* скругление полей ввода */

  /* УВЕДОМЛЕНИЯ */
  --toast-background: #deebc5; /* фон уведомлений (toast) */

  /* СОСТОЯНИЯ РЕДАКТИРОВАНИЯ  */
  --editing: #e3e6dd; /* фон активного / редактируемого элемента */
}