:root {
  /*  ТЕКСТ  */
  --text: #253017; /* основной цвет текста */
  --caption: #69735d; /* второстепенный текст (подписи, описание) */
  --disabled-text: #9ca197; /* неактивный / отключённый текст */

  /* UI ЭЛЕМЕНТЫ */
  --toggle: #b2b9a9; /* цвет переключателей (switch, checkbox) */
  --disabled: #e4e8df; /* фон или границы отключённых элементов */
  --card-input: #ffffff; /* фон карточек и полей ввода */

  --logo-text-color: var(--text);

  /* ИНТЕРАКЦИИ */
  --text-link: #508826; /* цвет ссылок */
  --button-pressed: #508826; /* состояние нажатой кнопки */
  --accent: #abd27a; /* основной акцентный цвет (кнопки, выделения) */
  --button-hover: #deebc5; /* hover-состояние кнопок */

  --button-primary-background: rgba(171, 210, 122, 1);
  --button-primary-background-hover: rgba(222, 235, 197, 1);
  --button-primary-background-active: rgba(80, 136, 38, 1);
  --button-primary-background-disabled: rgba(228, 232, 223, 1);

  --button-primary-color: rgba(37, 48, 23, 1);
  --button-primary-color-hover: rgba(37, 48, 23, 1);
  --button-primary-color-active: rgba(255, 255, 255, 1);
  --button-primary-color-disabled: rgba(105, 115, 93, 1);

  --button-secondary-background: rgba(255, 255, 255, 1);
  --button-secondary-background-hover: rgba(255, 255, 255, 1);
  --button-secondary-background-active: rgba(255, 255, 255, 1);
  --button-secondary-background-disabled: rgba(255, 255, 255, 1);

  --button-secondary-color: rgba(37, 48, 23, 1);
  --button-secondary-color-hover: rgba(105, 115, 93, 1);
  --button-secondary-color-active: rgba(37, 48, 23, 1);
  --button-secondary-color-disabled: rgba(156, 161, 151, 1);

  --button-secondary-border: rgba(171, 210, 122, 1);
  --button-secondary-border-hover: rgba(222, 235, 197, 1);
  --button-secondary-border-active: rgba(80, 136, 38, 1);
  --button-secondary-border-disabled: rgba(228, 232, 223, 1);

  --button-tertiary-background: rgba(255, 255, 255, 1);
  --button-tertiary-color: rgba(37, 48, 23, 1);
  --button-tertiary-color-disabled: rgba(156, 161, 151, 1);

  --dropdown-background: rgba(255, 255, 255, 1);
  --dropdown-border: rgba(105, 115, 93, 1);
  --dropdown-category-title-color: rgba(37, 48, 23, 1);
  --dropdown-category-link-color: rgba(37, 48, 23, 1);
  --dropdown-category-link-color-hover: rgba(80, 136, 38, 1);

  /*  ФОН  */
  --background: #f9faf7; /* основной фон страницы */

  /* СОСТОЯНИЯ (ОШИБКИ / ПРЕДУПРЕЖДЕНИЯ)  */
  --alarm: #e0796e; /* предупреждение (warning) */
  --error: #bf3920; /* ошибка (error) */

  /* ТЕГИ / КАТЕГОРИИ */
  --tag-business-career: #eee7f7; /* бизнес и карьера */
  --tag-creativity-art: #f7e7f2; /* творчество и искусство */
  --tag-foreign-languages: #ebe5c5; /* иностранные языки */
  --tag-education-development: #e7f2f6; /* образование и развитие */
  --tag-home-comfort: #f7ebe5; /* дом и уют */
  --tag-health-lifestyle: #e9f7e7; /* здоровье и лайфстайл */
  --tag-plus: #e8ecf7; /* дополнительная категория / "прочее" */

  /* ФОРМЫ */
  --border-input: #69735d; /* граница инпутов */
  --border-radio-checkbox: #000; /* граница radio/checkbox */
  --input-radius: 12px; /* скругление полей ввода */

  /* УВЕДОМЛЕНИЯ */
  --toast-background: #deebc5; /* фон уведомлений (toast) */

  /* СОСТОЯНИЯ РЕДАКТИРОВАНИЯ  */
  --editing: #e3e6dd; /* фон активного / редактируемого элемента */

  /* OVERLAY */
  --overlay: rgba(142, 142, 142, 0.6); /* фон оверлея модалок */

  /* Z-INDEX */
  --z-index-dropdown: 10;
}
