.activeFilterTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.activeFilterTag {
  width: fit-content;
}

.activeFilterTag img {
  filter: var(--active-filter-cross-filter);
}

.searchResultsCount {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

.catalogLayout {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.catalogContent {
  min-width: 0;
  flex: 1;
}

@media (max-width: 960px) {
  .catalogLayout {
    flex-direction: column;
  }

  .catalogLayout > aside {
    width: 100%;
  }

  .catalogContent {
    width: 100%;
  }
}
