.main {
  display: flex;
  flex-direction: row;
  padding: 60px;
  align-items: flex-start;
  gap: 196px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 460px;
  gap: 32px;
}

.photo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 244px;
  height: 244px;
}

.editPhoto {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: var(--button-primary-background-hover);
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.addIcon {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.field {
  position: relative;
}

.textarea {
  min-height: 120px;
  width: 460px;
  overflow-y: auto;
  resize: none;
  border: 1px solid var(--border-input);
  border-radius: var(--input-radius);
  padding: 12px 20px;
  box-sizing: border-box;
}

.textarea:disabled {
  cursor: default;
  color: var(--disabled-text);
}

.iconRight {
  position: absolute;
  display: flex;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.editButton {
  position: absolute;
  z-index: 2;
  display: flex;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  pointer-events: auto;
  cursor: pointer;
}

.editButton img {
  width: 24px;
  height: 24px;
  display: block;
}

.passwordLink {
  color: var(--text-link);
  font-family: var(--font-h4-family);
  font-weight: var(--font-h4-weight);
  font-size: var(--font-h4-size);
  line-height: var(--font-h4-line-height);
}